In [7]:
import pickle
import os
import pandas as pd
import numpy as np

In [8]:
model_path = r"C:\Users\Hemanth Gowda N\aai lab\modelss\xgboost_regressor_r2_0_945_v1.pkl"
model = pickle.load(open(model_path, "rb"))

In [9]:

model.predict([[ 0.50060987,  0.98718632, -0.69180254,  2.40011233,  0.92262892,
        1.56419996, -0.12916836, -0.17535463, -0.22754885,  0.18254726,
       -0.98911087,  0.72160984,  0.30459857, -0.57427456, -0.58152447,
       -0.57866842, -0.40630934, -0.40916536, -0.4075004 , -0.40511677,
       -0.40081071, -0.41367015]])

array([1355.4543], dtype=float32)

In [10]:
data = [
    [ 1.07807977,  0.22192612,  0.77468297,  1.82005277, -1.26200749,
       -0.25194272, -0.12916836, -0.17535463, -0.22754885, -5.47803337,
       -0.64744078, -0.43640293,  0.30459857,  1.74132735, -0.58152447,
       -0.57866842, -0.40630934, -0.40916536, -0.4075004 ,  2.46842407,
       -0.40081071, -0.41367015],
     [-0.65432992,  1.24504573,  0.23697162, -0.5001855 ,  0.56154562,
       -0.28664608, -0.12916836, -0.17535463, -0.22754885,  0.18254726,
        0.94701966,  0.14260346,  0.30459857, -0.57427456,  1.71961809,
       -0.57866842, -0.40630934, -0.40916536, -0.4075004 , -0.40511677,
        2.49494334, -0.41367015]
    
]
prediction = model.predict(data)
list(prediction)

[181.11006, 1239.375]

## load SC

In [11]:
sc_dump_path = r"C:\Users\Hemanth Gowda N\aai lab\modelss\sc.pkl"
sc = pickle.load(open(sc_dump_path, "rb"))

In [12]:
sc

StandardScaler()

## Users input

In [44]:
date = "01/12/2017"
hour = 0
temperature = -5.2
humidity = 37
wind_speed = 2.2
visibility = 2000
solar_radiation = 0.0
rainfall = 0.0
snowfall = 0.0
seasons = "Winter"
holiday = "No Holiday"
functioning_day = "Yes"

## Converting users input to models consumable format

In [45]:
holiday_dic = {"No Holiday":0, "Holiday":1}
functioning_day_dic = {"Yes":1, "No":0}

In [46]:
from datetime import datetime

def get_string_to_datetime(date):
    dt = datetime.strptime(date, "%d/%m/%Y")
    return {"day": dt.day, "month":dt.month, "year":dt.year, "week_day":dt.strftime("%A")}

str_to_date = get_string_to_datetime(date)
str_to_date

{'day': 1, 'month': 12, 'year': 2017, 'week_day': 'Friday'}

In [47]:
u_input_list = [hour, temperature, humidity, wind_speed, visibility, solar_radiation, rainfall, snowfall,
               holiday_dic[holiday], functioning_day_dic[functioning_day], 
               str_to_date["day"], str_to_date["month"], str_to_date["year"]]
features_name =['Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Solar Radiation (MJ/m2)',
       'Rainfall(mm)', 'Snowfall (cm)', 'Holiday', 'Functioning Day', 'Day',
       'Month', 'Year',]

df_u_input = pd.DataFrame([u_input_list], columns=features_name)
df_u_input

,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Day,Month,Year
0,0,-5.2,37,2.2,2000,0.0,0.0,0.0,0,1,1,12,2017

In [48]:
u_input_list

[0, -5.2, 37, 2.2, 2000, 0.0, 0.0, 0.0, 0, 1, 1, 12, 2017]

In [49]:
features_name

['Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Holiday',
 'Functioning Day',
 'Day',
 'Month',
 'Year']

In [50]:
def season_to_df(seasons):
    seasons_cols = ['Spring', 'Summer', 'Winter']
    seasons_data = np.zeros((1, len(seasons_cols)),dtype="int")

    df_seasons = pd.DataFrame(seasons_data, columns=seasons_cols)

    if seasons in seasons_cols:
        df_seasons[seasons] = 1
    return df_seasons

df_seasons = season_to_df(seasons)
df_seasons

   Spring  Summer  Winter
0       0       0       1

In [51]:
def days_df(week_day):
    days_names = ['Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday' , 'Wednesday' ]
    days_name_data = np.zeros((1, len(days_names)),dtype="int")
    df_days = pd.DataFrame(days_name_data, columns=days_names)
    
    if week_day in days_names:
        df_days[week_day] = 1
    return df_days


df_days = days_df(str_to_date["week_day"])
df_days

   Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0         0       0         0        0          0

In [52]:
['Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Solar Radiation (MJ/m2)',
       'Rainfall(mm)', 'Snowfall (cm)', 'Holiday', 'Functioning Day', 'Day',
       'Month', 'Year', 'Spring', 'Summer', 'Winter', 'Monday', 'Saturday',
       'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

['Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Holiday',
 'Functioning Day',
 'Day',
 'Month',
 'Year',
 'Spring',
 'Summer',
 'Winter',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday']

In [53]:
df_for_pred = pd.concat([df_u_input, df_seasons, df_days], axis=1)
df_for_pred

,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,...,Year,Spring,Summer,Winter,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,-5.2,37,2.2,2000,0.0,0.0,0.0,0,1,...,2017,0,0,1,0,0,0,0,0,0

In [54]:
sc_data_for_pred = sc.transform(df_for_pred)
sc_data_for_pred

array([[-1.66490223, -1.49990932, -1.0339825 ,  0.46658045,  0.92262892,
        -0.65681529, -0.12916836, -0.17535463, -0.22754885,  0.18254726,
        -1.67245106,  1.59011941, -3.28300948, -0.57427456, -0.58152447,
         1.72810536, -0.40630934, -0.40916536, -0.4075004 , -0.40511677,
        -0.40081071, -0.41367015]])

## Prediction in Deployment

In [55]:
model.predict(sc_data_for_pred)
print(f"Reanted bike demand on date: {date}, and time: {hour} is : {round(model.predict(sc_data_for_pred).tolist()[0])}")

Reanted bike demand on date: 01/12/2017, and time: 0 is : 240